.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
BYC_data
FO data
Gr data
NO data
UK data
is data
shapefiles
dat_monitoring.csv
effort.0.12.png
effort.12.24.png
effort.24plus.png
mon.0.12.png
mon.12.24.png
mon.24plus.png
map.LL.mon.per.length.png
summary_dat_effort.csv
mon_data_merged
.positai
Paper 1 - Create Figure 3 (Maps Seasonal Bycatch).R
effort.0.12.quarter.png
end.map.quarter.png
end.map.quarter.v2.png
map_pie_charts.png
map_pie_charts1.png
